<body>
<!-- Begin homepage -->
<div class="container">
    <div class="row">
        <br>
        <h1><b>{{title}}</b></h1>
        <br>
        <h4>Fill out an <a href="/catalyst/application/add">application</a>, also known internally as a Document Package</h4>
        <br>
        <h4>View all <a href="/catalyst/view">Document Packages</a></h4>
        <br>
        <!--<h4>Sample <a href="/catalyst/view/583f96201df29e28583456f2">Vetting View</a>-->
            <!--or <a href="/catalyst/vettingworksheet/583f96201df29e28583456f2">Vetting Worksheet</a> for Perry Mason</h4>-->
        <h4>Sample <a href="/catalyst/view/5940414832e378333712da3c">Vetting View</a>
            or <a href="/catalyst/vettingworksheet/5940414832e378333712da3c"> Vetting Worksheet</a> for Homer Simpson</h4>
    </div>
</div>
</body>